.Counter{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgb(89, 89, 125);
    height: 703px;
}
.counter-app{
    height: 400px;
    margin: 5px 0px;
    padding: 10px 40px;
    display: grid;
    background-color: rgb(21, 30, 59);
    box-shadow: 1px  1px 8px rgb(9, 21, 80);
    border-radius:10px ;
   
}
.counter-app h1{
    font-size: 40px;
    font-weight: 600;
    color: aqua;
    user-select: none;
    
}
.count{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 100px;
    box-shadow: 0 0 8px;
    border-radius: 10px;
    gap: 20px;
    user-select: none;
   

}
.count p{
    font-size: 40px;
    color: rgb(6, 255, 255);
    font-weight: 800;
    
    
    
}
.count h3{
    color: yellow;
    font-size: 45px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
    
}
.btn button{
    height: 60px;
    width: 160px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    background:rgb(2, 21, 56);
    border: none;
    box-shadow:0 0 5px black;
    color: rgb(7, 207, 207);
    transition: all 0.3s;


}
.btn button:hover{
    scale: 1.08;
    border: none;
    color: yellow;
}
